.box {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.boxes {
    width: 800px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}